name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
APP_KEY=base64:yBeGmFjFww4QbNfYwJOuzvZitBd5alz2JcbOhOJXkjg=


APP_NAME="Flight-Booking"
APP_ENV=production
APP_DEBUG=false
APP_URL="https://flight-booking-main-3qh1uk-admin.laravel.cloud"

LOG_CHANNEL=laravel-cloud-socket
LOG_STDERR_FORMATTER=Monolog\Formatter\JsonFormatter

DB_CONNECTION=mysql
DB_HOST=db-a10435c8-0b18-4c41-9810-494b3e67dfb5.us-east-2.db.laravel.cloud
DB_PORT=3306
DB_DATABASE=main
DB_USERNAME=msiqn3za0zvdqvko
DB_PASSWORD=Pwik8WVQ4bPH47cS1ZfO

SESSION_DRIVER=cookie

CACHE_STORE=database
SCHEDULE_CACHE_DRIVER=database

VITE_APP_NAME="${etatourtravel}"
DB_CONNECTION=mysql
DB_HOST=db-a10435c8-0b18-4c41-9810-494b3e67dfb5.us-east-2.public.db.laravel.cloud
DB_PORT=3306
DB_USERNAME=msiqn3za0zvdqvko
DB_PASSWORD=Pwik8WVQ4bPH47cS1ZfO
